.latestTitle {
	color: #3C3B3B;
	font-size: 68px;
	font-weight: 600;
	font-family: 'Asap Condensed', sans-serif;
}
.latestTitleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
}
.latestIcon{
    font-size: 50px;
    color: #FF8C22;
}
.latestWrap {
	margin-top: -50px;
}
.newestBlog {
    width: 715px;
    border-radius: 30px;
    align-self: stretch;
    -webkit-filter: brightness(46%);
    filter: brightness(46%);
}

.otherNewest {
    width: 369px;
    border-radius: 30px;
    align-self: stretch;
    -webkit-filter: brightness(46%);
    filter: brightness(46%);
}

.otherNewestWrap {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-self: stretch;
}

.threeBlogs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -20px;
    align-items: center;
}

.newestBlogText {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.otherBlogText {
	position: absolute;
	bottom: 3px;
	left: 4px;
	/* right: 29px; */
	color: white;
	text-align: left;
	margin-left: 10px;
	width: 257px;
	font-size: 16px;
}

.BlogContainer {
    position: relative;
}
.newestBlogTitle{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Asap Condensed', sans-serif;
    margin-bottom: -13px;
}
.newestBlogDescription {
	font-size: 20px;
	font-weight: 500;
	font-family: 'Asap Condensed', sans-serif;
	width: 380px;
    color: #E0E0E0;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-align: center;
}
.otherBlogTitle{
    margin-bottom: -14px;
    color:white;
    font-weight: 600;
	font-family: 'Asap Condensed', sans-serif;
    
}
.otherBlogDescription{
    font-weight: 500;
    font-family: 'Asap Condensed', sans-serif;
    color: #E0E0E0;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}